@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    --main-color:#2874f0;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

header{
    height: 70px;
    background-color: var(--main-color);
    color: white;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .logo{
    padding: 0 30px;
}

nav .logo img{
    width: 100px;
}

nav .search{
    display: flex;
    align-items: center;
    background-color: white;
    color: var(--main-color);
    border-radius: 2px;
}

nav .search i{
    padding: 0 10px 0 10px;
}

nav .search input[type=text]{
    border-radius: 2px;
    padding: 10px 25px 10px 25px;
    border: none;
    outline: none;
}

nav .search input[type=text]:focus{
    border-color: black;
    border-width: 2px;
}

nav ul{
    padding: 0 0 0 20vw;
    display: flex;
    justify-content:right;
    height: 70px;
    align-items: center;

}

nav ul li{
    column-gap: 2px;
    font-size: 12pt;
    display: flex;
    list-style: none;
    padding: 0 23px;
    font-weight: 700;
}

nav ul li i{
    margin: 0 0 10px 0;
}

@media only screen and (max-width: 1254px) {
    nav ul{
        padding: 0 0 0 5vw;
    }
}

footer{
    height: 30vh;
    background-color: var(--main-color);
    color: white;
}
